{% extends 'base.html' %}
{% load static %}

{% block title %}Заметки{% endblock %} <!-- У меня есть: "{% url 'notes:detail_view' note.id %}" -->

{% block content %}
  <h2 class="center">Мои заметки</h2>
    <div class="notes">
        <ul class="ul-notes">
          {% for note in all_notes %}
          <li class="note">
            {% if note.status == 'ToDo' %}
              <div class="pretty p-image p-round">
                <input type="checkbox" data-note-id="{{ note.id }}" />
                <div class="state">
                  <img class="image" src="{% static 'img/checked.png' %}">
                  <label><span class="note-title">{{ note.title }}</span> <span class="log_link"> <i>Сделать до {{ note.datetodo }}</i> </span></label>
                </div>
              </div>
              <i class="fa-regular fa-pen-to-square" data-note-id="{{ note.id }}" style="cursor: pointer;"></i> <!-- Иконка редактирования -->
              <i class="fa-regular fa-trash-can" data-note-id="{{ note.id }}" style="cursor: pointer;" onmouseenter="event.target.style.background='red'" onmouseleave="event.target.style.background=''"></i> <!-- Иконка удаления -->
            {% else %}
            <div class="pretty p-image p-round">
              <input data-note-id="{{ note.id }}" type="checkbox" checked />
              <div class="state">
                <img class="image" src="{% static 'img/checked.png' %}">
                <label class="complete"><span class="note-title">{{ note.title }}</span> <span class="log_link"> <i>Сделать до {{ note.datetodo }}</i> </span></label>
              </div>
            </div>
            <i class="fa-regular fa-pen-to-square" data-note-id="{{ note.id }}" style="cursor: pointer;"></i> <!-- Иконка редактирования -->
            <i class="fa-regular fa-trash-can" data-note-id="{{ note.id }}" style="cursor: pointer;"></i> <!-- Иконка удаления -->
            {% endif %}
          </li>
          {% empty %}
        </ul>
    </div>
    <h5 class="ah2">У вас пока нет заметок, вы можете <a href="{% url 'notes:create_view' %}">создать</a> свою первую заметку</h5>
  {% endfor %}
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/edit&delete.js' %}"></script>
  {% endblock content %}