{% extends 'base.html' %}

{% block title %}Заметки{% endblock %}

{% block content %} 
  <h2 style="text-align: center;">Мои заметки</h2>
  {% for note in all_notes %}
    <div style="display: flex; justify-content: center; align-items: center;">
      <div class="card" style="width: 18rem; display: flex; justify-content: center; align-items: center; margin: 10px;">
          <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">Сделать до: {{ note.datetodo }}</p>
          <a href="{% url 'notes:detail_view' note.id %}" class="btn btn-primary">Подробнее</a>
          </div>
      </div>
    </div>
  {% empty %}
    <h5 class="ah2">У вас пока нет заметок, вы можете <a href="{% url 'notes:create_view' %}">создать</a> свою первую заметку</h5>
  {% endfor %}  
{% endblock content %}