{% extends 'base.html' %}

{% block title %}Заметки на сегодня{% endblock %}

{% block content %}
  <h2 style="text-align: center;">Заметки на сегодня</h2>
  {% for note in today_notes %}
    <div style="display: flex; justify-content: center; align-items: center;">
      <div class="card" style="width: 18rem; display: flex; justify-content: center; align-items: center; margin: 10px;">
          <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">Сделать до: {{ note.datetodo }}</p>
          <a href="{% url 'notes:detail_view' note.id %}" class="btn btn-primary">Подробнее</a>
          </div>
      </div>
    </div>
  {% empty %}
    <h5 class="ah2">На сегодня у вас нет заметок, <a href="{% url 'notes:list_view' %}">список</a> всех заметок.</h5>
  {% endfor %}  
{% endblock content %}